<body>
    
<section id="newEntryFormContainer">
        <form class="">
            <div class="">
                <label for="title">title:</label>
                <input class="" type="text" id="newEntryTitle" />
            </div>
            <div class="">
                <label for="newEntry">Entry :</label>
                <textarea class="" type="text" id="newEntry"></textarea>
            </div>
            <form class="">
              <label for="newHabit">habit:</label>
              
              <input type="checkbox" id="1" name="habitToBeTracked" value="coding">
            <label for="habit1">drink water</label><br>
              <input type="checkbox" id="1" name="habitToBeTracked" value="coding">
            <label for="habit1">drink water</label><br>
              <input type="checkbox" id="1" name="habitToBeTracked" value="coding">
            <label for="habit1">drink water</label><br>
              
           
            </form>
            <div class="">
              <label for="">mood</label>
              <select id="moodSelect">
                  <option value="happy">happy</option>
                  <option value="angry">angry</option>
                  <option value="calm">calm</option>
                  <option value="anxious">anxious</option>
                  <option value="excited">excited</option>
              </select>
            </div>
            <div>
              <button class="btn btn-primary" type="submit" id="newEntrySubmitButton">submit</button>
            </div>
          </form>
      </section>
      
      <script src="./public/js/entries.js"></script>      
</body>
