

<body>
  <button type="button" class="btn btn-light">+ HABIT</button>
    {{#each habits as |habit|}}
    <div class="card" style="width: 18rem;">
      <i class="fa-regular fa-square-minus"></i>
  <div class="card-body">
    <h5 class="card-title">{{habit.habit_name}}</h5>
  </div>
 <p style="font-weight: bold">Streak:</p>
 <p>{{habit.streak}}</p>
</div>
{{/each}}
<script src="/js/habits.js"></script>
</body>