

<body>
    {{#each habits as |habit|}}
    
    <div class="card" style="width: 18rem;">
      <i class="fa-regular fa-square-minus"></i>
  <div class="card-body">
    <h5 class="card-title">{{habit.habit_name}}</h5>
  </div>
 <p style="font-weight: bold">Streak:</p>
 <p>{{habit.streak}}</p>
</div>
{{/each}}
</body>